*{
    margin: 0;
}

h1{
    font-family: Bebas Neue;
    font-size: 80px;
    text-align: center;
    background-color:#00a9d8;
    color: #FFFFFF;
}
article{
    font-family: Lato;
    background-color: #00a9d8;
    margin: 0px 20px;
    color: #ffffff
}
article h2{
    font-family: Century Gothic;
    text-align: center;
    background-color: #ffffff;
    margin: 16px 0px;
    color: #00a9d8;
}
article span{
    margin-right: 20px;
    font-weight: bold;
    display: inline-block;
    font-size: 20px;
    width: 200px;
}
article span+p{
    display: inline-block;

}
.personal-data span{
    width: 200px;
}
